@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$grey: #c4c4c4;
$light-grey: #eee;
$dark-grey: #768688;
$light-black: #4a4a4a;
$container-padding: 120px;
$marinho-brand: #002b45;
$verde-brand: #b3c134;

$font: "Lato", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 15px $container-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    width: 170px;
    height: 125px;
    text-indent: -999999px;
    background: url("https://remindbrindes.com.br/cliente/css/logo_top-vd.png") no-repeat center;
  }

  form {
    width: 60%;

    input {
      width: 80%;
      margin: 0 auto;
      display: block;

      padding: 0.75rem 1.5rem;
      border-radius: 25px;
      border: 1px solid $dark-grey;

      &::placeholder {
        font: bold 16px $font;
        color: $dark-grey;
      }
    }
  }

  .image {
    height: 5rem;
    width: 10rem;
    border-radius: 12px;
    background-color: $grey;
  }
}

main {
  .banner {
    padding: 30px $container-padding;

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        li {
          a {
            text-transform: uppercase;
            color: $dark-grey;

            &::after {
              content: url("arrow-down.svg");
            }
          }
        }
      }
    }

    background-color: $grey;
    color: white;
    height: 100vh;

    div {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font: bold 52px $font;
      }

      h2 {
        font: 500 20px $font;
        margin: 1rem 0;
      }

      a {
        font: bold 16px $font;
        color: #fff;
        padding: 1rem;
        border-radius: 25px;
        background-color: $dark-grey;
        width: min-content;
      }
    }
  }

  .especialidades {
    background-image: url("especialidades-bg.png");
    margin-top: -5rem;
    padding: 10rem $container-padding;
    padding-top: 10rem;

    .row {
      display: grid;
      grid-template-columns: repeat(4, 20%);
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 10px;
        padding: 3rem;
        box-shadow: 0px 0px 15px 0px rgba(#d2d2d2, 0.3);
        cursor: pointer;

        h2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .d-none {
      display: none;
    }
  }

  .lancamentos {
    background-color: $light-grey;

    h2 {
      text-align: center;
      font: 700 38px $font;
      color: $dark-grey;
    }
  }

  .video-depoimento {
    background-color: $light-grey;
    padding: $container-padding;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 40%);

    aside {
      h2 {
        font: 700 28px $font;
        text-align: center;
        color: $dark-grey;
      }

      p {
        margin: 20px 0;
        q {
          font: 400 16px $font;
          color: $light-black;
          position: relative;

          &::before {
            content: url("aspas-duplas.svg");
            position: absolute;
            left: -36px;
            top: -10px;
          }

          &::after {
            content: "";
          }
        }
      }

      &:first-child {
        background-color: $grey;
        width: 450px;
        height: 270px;
        border-radius: 40px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          border: 20px solid transparent;
          width: 0;
          height: 0;
          background: transparent;
          border-left-color: $light-grey;
          border-left-width: 30px;
          margin: auto;
          left: 20px;
          right: 0;
          top: 0;
          text-align: center;
          bottom: 0;
        }
      }
    }
  }

  .mais-vendidos {
    font: 700 38px $font;
    text-align: center;
    color: $dark-grey;
  }

  .explicacao {
    padding: $container-padding;
    background-color: $light-grey;

    h2 {
      font: 700 38px $font;
      text-align: center;
      color: $dark-grey;
      margin-bottom: 40px;
    }

    ol {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 30px;
      padding: 0 20%;
      position: relative;

      &::after {
        content: "";
        height: 100%;
        width: 4px;
        background-color: $verde-brand;
        position: absolute;
        top: 0;
        right: calc(50% - -4px);
      }

      li {
        width: calc(50% - 4px - 2rem);
        position: relative;

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 28px;
          height: 28px;
          top: 0;
          border-radius: 50%;
          z-index: 2;
        }

        &:nth-child(odd) {
          align-self: flex-start;
          text-align: end;

          &::after {
            right: calc(-2rem - 12px);
            background-color: $verde-brand;
          }
        }

        &:nth-child(even) {
          align-self: flex-end;
          text-align: start;

          &::before {
            left: calc(-2rem - 24px);
            background-color: $verde-brand;
          }
        }

        &:last-child {
          &::before {
            content: "";
            position: absolute;
            background-color: #eee;
            height: 100%;
            width: 4px;
            top: 0;
            z-index: 1;
            border-radius: 0;
            right: -32px;
            z-index: 2;
          }
        }

        h3 {
          font: 700 28px $font;
          color: $marinho-brand;
        }

        p {
          font: 400 16px $font;
          color: $light-black;
        }
      }
    }
  }

  .clientes-atendidos {
    padding: $container-padding;

    h2 {
      font: 700 28px $font;
      color: $verde-brand;
      text-align: center;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 4rem 0;

      li {
        height: 168px;
        width: 168px;
        border-radius: 50%;
        background-color: $grey;
      }
    }

    h3 {
      font: 700 36px $font;
      text-align: center;
    }

    blockquote {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $light-grey;
      padding: 60px 30px;
      border-radius: 30px;

      .img-container {
        height: 81px;
        width: 81px;
        border-radius: 50%;
        background-color: $grey;
        flex-shrink: 0;
      }

      q {
        text-align: justify;
        margin: 0 3rem;
        color: $dark-grey;

        &::after,
        &::before {
          content: "";
        }
      }
    }
  }

  .sobre {
    padding: $container-padding;
    display: flex;
    justify-content: space-between;
    background-color: $grey;

    aside {
      width: 40%;
      h3,
      p {
        font: 400 18px $font;
        margin: 1rem 0;
      }

      h2 {
        font: bold 28px $font;
        color: $marinho-brand;
      }

      &:first-child {
        text-align: end;
      }
    }
  }

  
}
